.button-link {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
}

.button-link:hover {
  color:gray;
}

.button-panel {
  float:left; /* right */
}

.intro-login{
  font-size: 12px;
  display: none;
}

.intro_remember{
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.table-header-wordwrap{
  padding-bottom: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px)  {

  .button-link
  {
    font-size: 11px;
    width: auto;
  }

  .word-breaker {
    white-space: normal !important;
    word-break: keep-all !important;
    text-align: left;
  }

  .table-header-wordwrap {
    font-size: 10px;
  }

  h1{
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
  }

  .table td{
    font-size: 10px;
  }


  .intro-login{
    font-size: 11px;
    text-align: center;
    display: block;
  }

  .intro_remember{
    font-size: 12px;
    text-align: center;
  }

}
