.bd-footer{
  font-size:85%;
  text-align:left;
  background-color: #e6e6ff;
}

.bd-footer a
{
  font-weight:500;
}

.bd-footer p{
  margin-bottom:0;
}

.bd-footer-links{
  padding-left:0;
  margin-bottom:1rem;
}
.bd-footer-links li{
  display:inline-block;
}
.bd-footer-links li+li{
  margin-left:1rem;
}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  /* Set the fixed height of the footer here */
  /* Vertically center the text there */
  font-size: 10px;
}
