nav {
  height: 50px;
  position: fixed;
  backface-visibility: hidden;
}

header {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111;
  backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .side-collapse-container{
    width:100%;
    position:sticky;
    overflow:hidden;
    right:0;
    transition:left .3s;
    backface-visibility: hidden;
  }

  .side-collapse-container.out{
    right:100%;
  }

  .side-collapse {
    border-top: .1px solid #888888;
    top: 50px;
    bottom:0;
    right:0;
    width:100%;
    position:fixed;
    overflow:hidden;
    transition:width .6s;
    background-color: #111;
    backface-visibility: hidden;
  }

  .text-muted{
    font-size: 10px;
  }


  .side-collapse.in {
    width:0;
  }
}

@media screen and (min-width: 769px) {
  .nav-mobile{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-screen{
    display: none;
  }
}
