.sidenav {
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #0f0f0f;
  height: inherit;
  position: absolute;
  width: 150px;
  z-index: 1;
  top: 50px;
  right: 0;
  display: none;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

.sidenav .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidetitle{
  text-align: center;
  justify-content: center;
}

.sidebar-switch{
  display:block;
}

@media screen and (max-height: 768px) {
  .sidenav a {font-size: 18px;}

}
