

.linkbutton {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.linkbutton:hover {
  color:gray;

}

.linkmargin {
  margin-top: 5px;
  margin-right: 10px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 10rem;
  background: white;
}


.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #222222;
  font-size: 10px;
  text-align: center;
}

.whitecolor{
  color: #ffffff;
}

.button-panel {
  float:left; /* right */
}

.jumbospace {
  padding-top: 30px;
  font-size: 50px;
  font-weight: 300;
  padding-bottom: 10px;
  color: #686868;
  background-color: white;
}
