header{
  width: 100%;
}

main, .jumbotron{
  width: 100%;
  background: #F5f5f5;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 8%;
  background: #F5F5F5;
}

#main_container{
  margin-top: 50px;
  padding-bottom: 10rem;
  margin-bottom: 125px;
}

.container{
  background: #F5F5F5;
}

.ph{
  display: block;
}

.hp{
  display: none;
}



@media screen and (max-width: 768px)  {

  .ph{
    display: none;
  }

  .hp{
    display: block;
  }

}
